@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

:root {
    --one-color: #3B82F4;
    --two-color: #32B3FE;
    --three-color: #FFAB00;
    --four-color: #FFE001;
    --five-color: #404040;
    --six-color: #FFFFFF;
    --seven-color: #F5F5F5;
    --eight-color: #C4C4C4;
    --nine-color: #808080;
    --ten-color: linear-gradient(138.6deg, #32B3FE 13.17%, #3B82F4 84.95%);
    ;
    --eleven-color: linear-gradient(138.6deg, #FFE001 13.17%, #FFAB00 84.95%);
    ;
}

body {
    background-color: var(--seven-color);
}



.header {
    position: relative;
    background-image: url('../images/backgroud-7.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
}

.container-fluid,
.row {
    --bs-gutter-x: 0;

}

.logo {
    position: absolute;
    width: 170px;
    left: 120px;
    top: 40px;

}

.logo img {
    width: 100%;
}

.header-banner {
    width: 633px;
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 120px;
    padding-right: 0;
    padding-top: 124px;
}

.header-left form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
    width: 100%;
}

.form-address .btn:hover {
    background-color: #EFF5FF;
    color: var(--one-color);
}

.btn {
    padding: 18px 20px;
    min-width: 150px;
    background-color: var(--eight-color);
    border-radius: 2px;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    border: none;
    outline: none;
    color: var(--six-color);
}

.form-address .active {
    background-color: #EFF5FF;
    color: var(--one-color);
}

.file-upload {
    position: relative;
}


.file-upload--icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    width: 16px;
}


.select2-selection {
    min-width: 340px;
    height: 40px;
    margin: 0;
    padding-left: 7px;
}

.select2-results__option {
    font-size: 14px;
    color: var(--nine-color);
}

.header-left form {
    width: 480px;
}

.form-group input,
.form-group label {
    width: 480px;
    height: 56px;

    border: none;
    outline: none;
    border-radius: 3px;
    padding-left: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    background-color: var(--six-color);
    color: var(--nine-color);
}

.form-group {
    margin-top: 20px;
}

.form-group label {
    display: flex;
    align-items: center;
}

input[type="file"] {
    display: none;
}


.select2-option {
    border: none;
    display: flex;
    align-items: center;
}


.selection {
    position: relative;
}


.form-group span {
    font-size: 16px;
    color: var(--six-color);
    display: block;
}

.custom-file-upload {
    margin-top: 14px;
}

.btn-submit {
    margin-top: 16px;
    background-color: var(--three-color);
    text-transform: uppercase;
    font-size: 24px;
    list-style: 28px;
}

.btn-submit:hover {
    background-color: var(--six-color);
    color: #FFAB00;
}

.select2-container--default .select2-selection--multiple {
    position: relative;
    height: 56px;
    width: 480px;
}


.select2-container--default .select2-selection--multiple::after {
    position: absolute;
    content: "";
    border: 6px;
    border-style: solid;
    top: 50%;
    right: 12px;
    border-color: var(--nine-color) transparent transparent transparent;
    transform: translateY(-25%);
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding-left: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    position: relative;
    min-width: 97px;
    padding: 7px 0;
    background-color: var(--two-color);
    border-radius: 99px;
    font-size: 16px;
    padding-left: 12px;
    margin-top: 0;

}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--six-color);
    border-radius: 999px;
}

.select2-container--default .select2-results>.select2-results__options {
    width: 480px;
    background-color: var(--six-color);
    border-radius: 0 0 4px 4px;
    border: none;
}


.select2-results__option[aria-selected] {
    padding-left: 32px;
    width: 480px;
    font-size: 16px;
    border: none;
}

.select2-results__option[aria-selected]:hover {
    background-color: var(--two-color);
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    border: none;
}

.select2-container--default .select2-search--inline .select2-search__field {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    padding-left: 0;
}

.select2-results__option {
    padding: 14px 0;
}



.header-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.header-image--item:first-child {
    width: 600px;
    position: absolute;
    bottom: 140px;
    left: 100px;
}


.header-image--item:nth-child(2) {
    width: 650px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-bottom: 20px;
}


.header-image--item img {
    width: 100%;
}

.content-heading {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 66px;
    color: var(--one-color);
    padding-top: 21px;
    position: relative;
    text-align: center;
}

.content-heading::after {
    position: absolute;
    content: "";
    height: 10px;
    width: 104px;
    background-color: var(--one-color);
    border-radius: 99px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.content-title {
    text-align: center;
    color: var(--one-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
}

.content {
    padding: 0 200px;
}

.content-list {
    margin-left: -6px;
    margin-right: -6px;
    padding-top: 30px;
}

.content-item {
    padding-left: 6px;
    padding-right: 6px;

}

.content-wapper {
    margin: 10px;
    background-color: var(--six-color);
    border-radius: 4px;
}

.content-wrapper--img {
    padding: 12px;
}

.content-wrapper--img img {
    width: 100%;
}

.content-wapper--info {
    padding: 12px;
}

.content-wapper--info h4 {
    font-size: 20px;
    list-style: 22px;
    color: var(--one-color);
    padding-bottom: 12px;
    position: relative;

}

.content-wapper--info h4::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--one-color);
    border-radius: 9px;
}

.content-wapper--info p {
    color: var(--five-color);
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.about {
    margin-top: 50px;
}

.about-content {
    padding-left: 150px;
    padding-top: 100px;
    padding-right: 100px;
}

.about-heading {
    position: relative;
    color: var(--one-color);
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    padding-top: 30px;
    margin-bottom: 48px;
}

.about-heading::before {
    content: "";
    position: absolute;
    width: 104px;
    height: 10px;
    top: 0;
    left: 0;
    background-color: var(--one-color);
    border-radius: 99px;
}

.about-content--text p {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--five-color);
}

.about-content--text .about-strong {
    font-weight: 700;
    font-size: 28px;
}

.about-image {
    background-image: url('../images/backgroud-5.png');
    background-repeat: no-repeat;
    background-position: center right;
    display: flex;
    justify-content: center;
    z-index: -1;
}



.about-wapper--img {
    width: 350px;


}

.about-image img {
    width: 100%;
}

.about-banner {
    background-image: url('../images/backgroud-6.png');
    background-repeat: no-repeat;
    background-position: top right;
    position: relative;
}

.about-banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/backgroud-8.png);
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
    z-index: -1;
    left: -50px;
    bottom: -250px;
}

.banner-content {
    margin-top: -50px;
    padding-top: 150px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/backgroud-3.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner-content img {
    width: 550px;
}

.banner-content span {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    color: var(--six-color);
}

.footer {
    background-image: url('../images//footer.png');
}

.footer-logo {
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.footer-contact h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: var(--six-color);
    padding-top: 20px;
    padding-bottom: 24px;
}

.contact-icon {
    width: 12px;
    margin-right: 12px;
}

.contact-icon img {
    width: 100%;
}

.contact-item {
    margin-bottom: 12px;
    list-style: none;
    color: var(--six-color);
}

.contact-list {
    padding: 0;
}

@media screen and (max-width:768px) {

    .logo {
        width: 86px;
        left: 16px;
        top: 24px;
    }

    .header {
        background-image: url(../images//backgroud-9.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        padding-bottom: 154px;
        margin-bottom: 53px;
    }



    .header-right {
        order: 1;
    }

    .header-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 180px;
        position: relative;
    }

    .header-image--item:first-child {
        width: 142px;
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-42%);
    }


    .header-image--item:nth-child(2) {
        width: 142px;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);

    }

    .header-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-top: 22px;
        order: 2;
    }

    .header-banner {
        width: 282px;
    }

    .form-address {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        width: 100%;
    }

    .btn {
        padding: 8px 12px;
        min-width: 0px;
        font-weight: 400
    }

    .btn-submit {
        margin-top: 16px;
        background-color: var(--three-color);
        text-transform: uppercase;
        padding: 12px 16px;
        font-size: 14px;
        list-style: 16px;
    }

    .header-left form {
        width: 300px;
    }

    .form-group input,
    .form-group label {
        width: 100%;
        min-width: 300px;
        height: 36px;

        padding-left: 12px;
    }

    .form-group {
        margin-top: 12px;
    }

    .select2-container--default .select2-selection--multiple {
        height: 36px;
        width: 100px;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        display: flex;
        align-items: center;
        margin-left: 5px;
        padding-left: 0;
    }

    .select2-selection {
        min-width: 300px;
        height: 36px;
    }

    .select2-container--default .select2-selection--multiple {
        position: relative;
        height: 36px;
        width: 300px;
    }

    .select2-container--default .select2-results>.select2-results__options {
        width: 300px;

    }

    .select2-results__option[aria-selected] {
        width: 300px;
        padding: 6px 0;
        padding-left: 12px;
    }

    .select2-container--default .select2-results__option[aria-selected=true] {
        padding: 6px 0;
        padding-left: 12px;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        position: relative;
        min-width: 80px;
        padding: 4px 0;
        background-color: var(--two-color);
        border-radius: 99px;
        font-size: 16px;
        padding-left: 12px;
        margin-top: 0;

    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--six-color);
        border-radius: 999px;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
        font-size: 14px;
    }

    .content {
        padding: 0 0;
    }

    .content-heading {
        font-size: 24px;
        line-height: 32px;
        padding-top: 8px;
    }

    .content-heading::after {

        height: 5px;
        width: 52px;

    }

    .content-title {
        font-size: 18px;
        line-height: 25px;
    }

    .content .col-md-4 {
        width: 50%;
    }

    .content-wapper--info h4 {
        font-size: 14px;
        list-style: 23px;

    }

    .content-wapper--info p {

        font-size: 12px;
        line-height: 14px;
        -webkit-line-clamp: 3;
    }

    .about {
        margin-top: 69px;
    }

    .about-content {
        padding-left: 0;
        padding-top: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-heading {
        font-size: 24px;
        line-height: 32px;
        padding-top: 8px;

        margin-bottom: 24px;
        text-align: center;

    }

    .about-heading::before {

        width: 52px;
        height: 5px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

    }

    .about-content--text p {
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }

    .about-content--text .about-strong {
        font-weight: 700;
        font-size: 18px;
    }

    .about-image {
        display: none;
    }

    .about-banner {
        background-image: url('../images/backgroud-6.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 95% 100%;
        position: relative;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .about-banner::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../images/backgroud-8.png);
        background-size: cover;
        background-position: bottom left;
        background-repeat: no-repeat;
        z-index: -1;
        left: -30px;
        bottom: -20px;
    }

    .banner-content {
        margin-top: 48px;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url('../images/backgroud-3.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 60%;
    }

    .banner-content img {
        width: 124px;
    }

    .banner-content span {
        font-size: 14px;
        line-height: 16px;

        padding-top: 7px;
        padding-bottom: 11px;

    }

    .footer {
        background-image: url('../images/footer.png');
    }

    .footer-logo {
        display: flex;
        align-items: center;
        padding-left: 28px;
        padding-top: 16px;
        width: 96px;
    }

    .footer-logo img {
        width: 100%;
    }

    .footer-contact h1 {
        font-size: 8px;
        line-height: 10px;
        color: var(--six-color);
        padding-top: 24px;
        padding-bottom: 10px;
        margin-left: 16px;
    }

    .contact-icon {
        width: 10px;
        margin-right: 9px;
    }


    .contact-item {
        margin-bottom: 6px;
        font-size: 8px;
        line-height: 9px;
        font-weight: 400px;
        padding-left: 17px;
    }

    .contact-list {
        display: block;
    }
}